absl-py==1.1.0
aiohttp==3.8.4
aiosignal==1.3.1
altair==4.2.2
annotated-types==0.7.0
anyio==4.3.0
apache-beam==2.40.0
appdirs==1.4.4
argon2-cffi==21.3.0
argon2-cffi-bindings==21.2.0
astor==0.8.1
asttokens==2.0.5
astunparse==1.6.3
async-timeout==4.0.2
attrs==21.4.0
avro-python3==1.10.2
backcall==0.2.0
beautifulsoup4==4.10.0
bleach==4.1.0
blinker==1.7.0
branca==0.7.1
cachetools==5.3.3
catboost==1.2.3
certifi==2021.10.8
cffi==1.15.0
charset-normalizer==2.1.0
click==8.1.7
cloudpickle==2.1.0
cmake==3.17.2
colorama==0.4.6
contextlib2==21.6.0
contourpy==1.2.0
crcmod==1.7
csscompressor==0.9.5
cycler==0.11.0
Cython==3.0.0a10
dacite==1.8.1
daiquiri==3.2.1
dash==2.16.1
dash-core-components==2.0.0
dash-html-components==2.0.0
dash-table==5.0.0
debugpy==1.6.0
decorator==5.1.1
defusedxml==0.7.1
deprecation==2.1.0
dill==0.3.1.1
distlib==0.3.4
distro==1.9.0
dlib==19.18.0
easyocr==1.6.2
entrypoints==0.4
et-xmlfile==1.1.0
exceptiongroup==1.1.2
executing==0.8.3
face-recognition==1.3.0
face_recognition_models==0.3.0
Faker==24.0.0
fastavro==1.5.2
favicon==0.7.0
filelock==3.6.0
Flask==2.1.1
flatbuffers==2.0
folium==0.14.0
fonttools==4.49.0
forex-python==1.8
fpdf==1.7.2
frozenlist==1.3.3
gast==0.5.3
gdown==4.5.1
Genderize==0.3.1
gin-config==0.5.0
gitdb==4.0.11
GitPython==3.1.42
google-api-python-client==2.52.0
graphviz==0.20.1
grpcio==1.47.0
gunicorn==20.1.0
h11==0.14.0
hdfs==2.7.0
htbuilder==0.6.1
htmlmin==0.1.12
httpcore==1.0.5
httplib2==0.20.4
httpx==0.27.0
idna==3.3
ImageHash==4.3.1
imageio==2.28.0
imbalanced-learn==0.12.0
importlib-metadata==4.11.3
importlib_resources==6.1.3
imutils==0.5.4
ipykernel==6.11.0
ipython==8.2.0
ipython-genutils==0.2.0
ipywidgets==8.0.6
itsdangerous==2.1.2
jedi==0.18.1
Jinja2==3.1.1
joblib==1.1.1
jsonschema==4.4.0
jupyter-client==7.2.1
jupyter-contrib-core==0.4.2
jupyter-contrib-nbextensions==0.7.0
jupyter-core==4.9.2
jupyter-datatables==0.3.9
jupyter-highlight-selected-word==0.2.0
jupyter-nbextensions-configurator==0.6.3
jupyter-nbutils==0.1.3
jupyter-require==0.6.1
jupyterlab-pygments==0.1.2
jupyterlab-visualpython==2.3.7
jupyterlab-widgets==3.0.7
kaggle==1.5.12
keras==2.9.0
kiwisolver==1.4.3
lazy_loader==0.2
llvmlite==0.43.0
lvis==0.5.3
lxml==4.9.1
Markdown==3.4.3
markdown-it-py==2.2.0
markdownlit==0.0.7
MarkupSafe==2.1.2
matplotlib==3.7.1
matplotlib-inline==0.1.3
mdurl==0.1.2
missingno==0.5.2
mistune==0.8.4
more-itertools==10.2.0
mpmath==1.3.0
multidict==6.0.4
multimethod==1.9.1
mysql-connector-python==8.0.28
names==0.3.0
nbclient==0.5.13
nbconvert==6.4.5
nbformat==5.2.0
nest-asyncio==1.5.5
networkx==3.1
ninja==1.11.1
nltk==3.8.1
notebook==6.4.10
numba==0.60.0
numerize==0.12
numpy==1.26.4
oauth2client==4.1.3
oauthlib==3.2.2
object-detection==0.1
openai==1.30.1
opencv-python==4.9.0.80
opencv-python-headless==4.5.4.60
openpyxl==3.1.2
opt-einsum==3.3.0
orjson==3.7.5
outcome==1.2.0
packaging==23.1
pandas==2.0.1
pandas-profiling==3.2.0
pandoc==2.3
pandocfilters==1.5.0
parso==0.8.3
pathlib_mate==1.3.2
patsy==0.5.3
phik==0.12.3
pickleshare==0.7.5
Pillow==9.2.0
pipenv==2022.3.28
platformdirs==2.5.1
plotly==5.14.1
plotly-express==0.4.1
plumbum==1.8.1
ply==3.11
prettytable==3.10.0
prometheus-client==0.13.1
prompt-toolkit==3.0.28
proto-plus==1.20.6
protobuf==3.20.1
psutil==5.9.0
pure-eval==0.2.2
py-cpuinfo==8.0.0
pyarrow==7.0.0
pyclipper==1.3.0.post4
pycocotools==2.0.4
pycparser==2.21
pydantic==2.10.1
pydantic_core==2.27.1
pydeck==0.8.1b0
pydot==1.4.2
pyecharts==2.0.5
pyee==8.2.2
Pygments==2.17.2
pygwalker==0.1.9.1
pymdown-extensions==10.4
pymongo==3.12.3
Pympler==1.0.1
pyparsing==3.0.7
pypiwin32==223
pyppeteer==1.0.2
pyrsistent==0.18.1
PySocks==1.7.1
python-bidi==0.4.2
python-dateutil==2.8.2
python-dotenv==1.0.1
python-json-logger==2.0.7
pytz==2022.1
PyWavelets==1.4.1
pywedge==0.5.1.8
pywin32==303
pywinpty==2.0.5
PyYAML==5.4.1
pyzmq==22.3.0
regex==2023.5.5
requests==2.28.1
retrying==1.3.4
rich==13.7.1
sacrebleu==2.1.0
scikit-image==0.20.0
scikit-learn==1.2.2
scipy==1.11.3
seaborn==0.12.2
selenium==4.10.0
Send2Trash==1.8.0
sentencepiece==0.1.96
seqeval==1.2.2
shapely==2.0.1
simplejson==3.17.6
six==1.16.0
smmap==5.0.1
sniffio==1.3.0
sortedcontainers==2.4.0
soupsieve==2.3.1
st-annotated-text==4.0.1
stack-data==0.2.0
statsmodels==0.14.0
streamlit==1.34.0
streamlit-apexjs==0.0.3
streamlit-camera-input-live==0.2.0
streamlit-card==0.0.4
streamlit-elements==0.1.0
streamlit-embedcode==0.1.2
streamlit-extras==0.2.7
streamlit-faker==0.0.3
streamlit-folium==0.15.0
streamlit-image-coordinates==0.1.6
streamlit-keyup==0.2.3
streamlit-option-menu==0.3.2
streamlit-pandas-profiling==0.1.3
streamlit-toggle-switch==1.0.2
streamlit-vertical-slider==2.5.5
sympy==1.11.1
tangled-up-in-unicode==0.2.0
tenacity==8.2.2
tensorboard==2.9.1
tensorflow==2.9.1
tensorflow-addons==0.17.1
tensorflow-datasets==4.6.0
tensorflow-estimator==2.9.0
tensorflow-hub==0.12.0
tensorflow-io==0.26.0
tensorflow-io-gcs-filesystem==0.26.0
tensorflow-model-optimization==0.7.2
tensorflow-text==2.9.0
termcolor==1.1.0
terminado==0.13.3
testpath==0.6.0
tf-models-official==2.9.2
tf-slim==1.1.0
threadpoolctl==3.2.0
tifffile==2023.4.12
toml==0.10.2
toolz==0.12.1
torch==2.0.0
torchvision==0.15.1
tornado==6.1
tqdm==4.64.0
traitlets==5.1.1
trio==0.22.2
trio-websocket==0.10.3
typeguard==4.4.1
typing_extensions==4.12.2
tzdata==2024.1
tzlocal==5.2
urllib3==1.26.10
validators==0.22.0
virtualenv==20.14.0
virtualenv-clone==0.5.7
visions==0.7.6
visualpython==2.3.7
watchdog==4.0.0
wcwidth==0.2.5
webdriver-manager==4.0.1
webencodings==0.5.1
websockets==10.4
Werkzeug==2.1.1
wget==3.2
widgetsnbextension==4.0.7
wordcloud==1.9.4
wrapt==1.14.1
wsproto==1.2.0
xgboost==2.0.3
xlrd==2.0.1
xlwings==0.30.12
yarl==1.9.2
ydata-profiling==4.12.0
zipp==3.8.0
